/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	float: left;
	width: 6%;
	padding: 5px;
}

.row {
	width: 80%;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

img {
	border-radius: 50%;
}

.tooltip {
	position: absolute;
	background-color: white;
	border: 4px;
	border-color: black;
	border-radius: 5px;
	padding: 15px;
	min-width: 200px;
	text-align: left;
	color: black;
}
